body{
background-color:pink;


}


#topnav{
background-color:;
height:8vw;
border-radius:1vw;
border-style:solid;

}

#page{
background-color:;
background-image:;
border-radius:10px;
background-size:100%;
}

#openedaccountfooter{
background-color:#202020;
border-radius:10px;
height:10vw;

}

#title{
background-color:#b4b4b4;
height:3vw;
width:20vw;
margin-left:1.5vw;

font-size:2vw;
border-color:white;
margin-top:1vw;
margin-left:1.5vw;
border-radius:1vw;
border-style:solid;
border-width:0.15vw;

}

#entry{

background-color:#b4b4b4;
width:20vw;
margin-left:1.5vw;
border-radius:1vw;
border-style:solid;
border-width:0.15vw;
border-color:white;
font-size:2vw;
margin-top:1vw;
height:30vw;
}

#entry2{

background-color:#b4b4b4;
width:20vw;
margin-left:1.5vw;
border-radius:1vw;
border-style:solid;
border-width:0.15vw;
border-color:white;
font-size:2vw;
margin-top:1vw;
height:30vw;
}

#save{
background-color:;
height:3vw;
width:20vw;
margin-left:1.5vw;
border-radius:1vw;
border-style:solid;
border-width:0.15vw;
font-size:2vw;
border-color:white;
margin-top:1vw;
padding:0px;

}

#save:hover{
opacity:0.7;
}

.prettybutton{
background-color:;
height:3vw;
width:20vw;
margin-left:1.5vw;
font-size:2vw;
margin-top:1vw;
margin-left:1.5vw;
border-radius:1vw;
border-style:solid;
border-width:0.15vw;
border-color:white;
}

.prettybutton:hover{
opacity:0.7;
}

button:hover{
opacity:0.7;
}








